# PYTHON PANDAS

## Slicing Python Pandas.

In [1]:
import pandas as pd

In [2]:
survey_df=pd.read_csv("Downloads/annual-enterprise-survey-2019-financial-year-provisional-csv (2) (1).csv")

In [3]:
survey_df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32444,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [5]:
survey_df.head(10)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...
5,2019,Level 1,99999,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"35,250",ANZSIC06 divisions A-S (excluding classes K633...
6,2019,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,"7,458",ANZSIC06 divisions A-S (excluding classes K633...
7,2019,Level 1,99999,All industries,Dollars (millions),H11,Depreciation,Financial performance,"20,977",ANZSIC06 divisions A-S (excluding classes K633...
8,2019,Level 1,99999,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"112,960",ANZSIC06 divisions A-S (excluding classes K633...
9,2019,Level 1,99999,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,206,ANZSIC06 divisions A-S (excluding classes K633...

In [6]:
survey_df.tail(10)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
32435,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H32,Current liabilities,Financial position,10212,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32436,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H33,Other liabilities,Financial position,2220,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32437,2013,Level 3,ZZ11,Food product manufacturing,Dollars,H34,Total income per employee count,Financial ratios,523700,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32438,2013,Level 3,ZZ11,Food product manufacturing,Dollars,H35,Surplus per employee count,Financial ratios,17700,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32439,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H36,Current ratio,Financial ratios,91,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32444,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [7]:
survey_df.sample(10)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
21139,2015,Level 4,GH135,Non-Store and Commission Based Retailing,Dollars (millions),H26,Fixed tangible assets,Financial position,146,ANZSIC06 groups G431 and G432
12633,2017,Level 1,LL,"Rental, Hiring and Real Estate Services",Dollars (millions),H23,Surplus before income tax,Financial performance,"11,351",ANZSIC06 division L
29577,2013,Level 3,DD12,"Water, Sewerage, Drainage and Waste Services",Dollars (millions),H33,Other liabilities,Financial position,2399,"ANZSIC06 groups D281, D291, and D292"
20294,2015,Level 3,DD12,"Water, Sewerage, Drainage and Waste Services",Dollars (millions),H20,Non-operating expenses,Financial performance,C,"ANZSIC06 groups D281, D291, and D292"
28471,2013,Level 4,CC212,"Clothing, Knitted Products and Footwear Manufa...",Dollars (millions),H29,Other assets,Financial position,20,ANZSIC06 groups C134 and C135
12467,2017,Level 4,KK112,Financial Asset Investing,Dollars (millions),H12,Salaries and wages paid,Financial performance,391,ANZSIC06 group K624
16955,2016,Level 3,JJ11,Information Media Services,Percentage,H39,Return on equity,Financial ratios,C,"ANZSIC06 groups J541, J542, J551, J552, J561, ..."
23110,2015,Level 4,RS214,"Civil, Professional and Other Interest Groups",Dollars (millions),H07,Non-operating income,Financial performance,369,ANZSIC06 group S955
5742,2018,Level 3,CC53,Polymer Product and Rubber Product Manufacturing,Dollars (millions),H09,Interest and donations,Financial performance,24,ANZSIC06 groups C191 and C192
22135,2015,Level 1,MN,"Professional, Scientific, Technical, Administr...",Dollars (millions),H13,Redundancy and severance,Financial performance,31,ANZSIC06 divisions M and N

In [8]:
survey_df.describe()

               Year
count  32445.000000
mean    2016.000000
std        2.000031
min     2013.000000
25%     2014.000000
50%     2016.000000
75%     2018.000000
max     2019.000000

In [10]:
survey_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32445 entries, 0 to 32444
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         32445 non-null  int64
 1   Industry_aggregation_NZSIOC  32445 non-null  object
 2   Industry_code_NZSIOC         32445 non-null  object
 3   Industry_name_NZSIOC         32445 non-null  object
 4   Units                        32445 non-null  object
 5   Variable_code                32445 non-null  object
 6   Variable_name                32445 non-null  object
 7   Variable_category            32445 non-null  object
 8   Value                        32445 non-null  object
 9   Industry_code_ANZSIC06       32445 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.5+ MB

In [12]:
survey_df.dtypes

Year                            int64
Industry_aggregation_NZSIOC    object
Industry_code_NZSIOC           object
Industry_name_NZSIOC           object
Units                          object
Variable_code                  object
Variable_name                  object
Variable_category              object
Value                          object
Industry_code_ANZSIC06         object
dtype: object

In [15]:
survey_df.columns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [16]:
survey_df.isnull()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
32440,False,False,False,False,False,False,False,False,False,False
32441,False,False,False,False,False,False,False,False,False,False
32442,False,False,False,False,False,False,False,False,False,False
32443,False,False,False,False,False,False,False,False,False,False
32444,False,False,False,False,False,False,False,False,False,False

In [17]:
survey_df.isnull().sum()

Year                           0
Industry_aggregation_NZSIOC    0
Industry_code_NZSIOC           0
Industry_name_NZSIOC           0
Units                          0
Variable_code                  0
Variable_name                  0
Variable_category              0
Value                          0
Industry_code_ANZSIC06         0
dtype: int64

In [26]:
survey_df["Value"].sample(12)

31934      184
4278        43
15425    3,437
21044       18
23936      422
899        263
17722    9,679
851         52
26430       13
25890    79600
15276    2,154
18234    1,112
Name: Value, dtype: object

In [27]:
survey_df["Value"].sample(12).describe()

count     12
unique    11
top        7
freq       2
Name: Value, dtype: object

In [28]:
survey_df["Value"].sample(12).info()

<class 'pandas.core.series.Series'>
Index: 12 entries, 20389 to 4528
Series name: Value
Non-Null Count  Dtype
--------------  -----
12 non-null     object
dtypes: object(1)
memory usage: 192.0+ bytes

In [30]:
survey_df.columns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [31]:
survey_df[["Units","Value"]]

                    Units    Value
0      Dollars (millions)  728,239
1      Dollars (millions)  643,809
2      Dollars (millions)   62,924
3      Dollars (millions)   21,505
4      Dollars (millions)  634,710
...                   ...      ...
32440          Percentage       52
32441          Percentage       40
32442          Percentage       12
32443          Percentage        5
32444          Percentage       46

[32445 rows x 2 columns]

In [32]:
survey_df[["Units","Value"]].head(12)

                 Units    Value
0   Dollars (millions)  728,239
1   Dollars (millions)  643,809
2   Dollars (millions)   62,924
3   Dollars (millions)   21,505
4   Dollars (millions)  634,710
5   Dollars (millions)   35,250
6   Dollars (millions)    7,458
7   Dollars (millions)   20,977
8   Dollars (millions)  112,960
9   Dollars (millions)      206
10  Dollars (millions)    1,767
11  Dollars (millions)  445,481

In [33]:
survey_df[["Units","Value"]].tail(12)

                    Units   Value
32433  Dollars (millions)   23102
32434  Dollars (millions)   10670
32435  Dollars (millions)   10212
32436  Dollars (millions)    2220
32437             Dollars  523700
32438             Dollars   17700
32439          Percentage      91
32440          Percentage      52
32441          Percentage      40
32442          Percentage      12
32443          Percentage       5
32444          Percentage      46

In [34]:
survey_df[["Units","Value"]].sample(12)

                    Units   Value
28838          Percentage      11
20457  Dollars (millions)       4
22541  Dollars (millions)   1,081
11657  Dollars (millions)   6,760
15728  Dollars (millions)   1,410
12069  Dollars (millions)       1
3934   Dollars (millions)     349
23896  Dollars (millions)       1
32012  Dollars (millions)     177
17474  Dollars (millions)   1,310
13047             Dollars  22,600
25426          Percentage      31

In [35]:
survey_df[["Units","Value"]].sample(12).describe()

                     Units    Value
count                   12       12
unique                   3       12
top     Dollars (millions)  205,600
freq                     8        1

In [36]:
survey_df[["Units","Value"]].sample(12).info()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, 2479 to 8652
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Units   12 non-null     object
 1   Value   12 non-null     object
dtypes: object(2)
memory usage: 288.0+ bytes

In [37]:
survey_df[["Units","Value"]].sample(12).isnull()

       Units  Value
5245   False  False
7593   False  False
26772  False  False
20001  False  False
28383  False  False
32011  False  False
25928  False  False
30767  False  False
8442   False  False
18605  False  False
10252  False  False
20805  False  False

In [38]:
survey_df[["Units","Value"]].sample(12).isnull().sum()

Units    0
Value    0
dtype: int64

In [39]:
new_df1=survey_df[["Variable_category","Value"]].sample(8)

In [40]:
new_df1

           Variable_category   Value
21178     Financial position   2,370
13775  Financial performance      10
10458  Financial performance     285
15389     Financial position   6,219
13878  Financial performance     909
1874   Financial performance   9,544
31951  Financial performance     330
6580   Financial performance  12,016

In [41]:
new_df1.describe()

            Variable_category  Value
count                       8      8
unique                      2      8
top     Financial performance  2,370
freq                        6      1

In [42]:
new_df1.Value.describe()

count         8
unique        8
top       2,370
freq          1
Name: Value, dtype: object

In [43]:
new_df1

           Variable_category   Value
21178     Financial position   2,370
13775  Financial performance      10
10458  Financial performance     285
15389     Financial position   6,219
13878  Financial performance     909
1874   Financial performance   9,544
31951  Financial performance     330
6580   Financial performance  12,016

In [44]:
# Saving newdf1 dataframe to csv
new_df1.to_csv("Python Sonek new_df1.csv")

In [45]:
survey_df[0:20]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...
5,2019,Level 1,99999,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"35,250",ANZSIC06 divisions A-S (excluding classes K633...
6,2019,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,"7,458",ANZSIC06 divisions A-S (excluding classes K633...
7,2019,Level 1,99999,All industries,Dollars (millions),H11,Depreciation,Financial performance,"20,977",ANZSIC06 divisions A-S (excluding classes K633...
8,2019,Level 1,99999,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"112,960",ANZSIC06 divisions A-S (excluding classes K633...
9,2019,Level 1,99999,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,206,ANZSIC06 divisions A-S (excluding classes K633...
10,2019,Level 1,99999,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"1,767",ANZSIC06 divisions A-S (excluding classes K633...
11,2019,Level 1,99999,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"445,481",ANZSIC06 divisions A-S (excluding classes K633...
12,2019,Level 1,99999,All industries,Dollars (millions),H20,Non-operating expenses,Financial performance,"10,817",ANZSIC06 divisions A-S (excluding classes K633...
13,2019,Level 1,99999,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"63,932",ANZSIC06 divisions A-S (excluding classes K633...
14,2019,Level 1,99999,All industries,Dollars (millions),H22,Closing stocks,Financial performance,"67,518",ANZSIC06 divisions A-S (excluding classes K633...
15,2019,Level 1,99999,All industries,Dollars (millions),H23,Surplus before income tax,Financial performance,"97,114",ANZSIC06 divisions A-S (excluding classes K633...
16,2019,Level 1,99999,All industries,Dollars (millions),H24,Total assets,Financial position,"2,216,127",ANZSIC06 divisions A-S (excluding classes K633...
17,2019,Level 1,99999,All industries,Dollars (millions),H25,Current assets,Financial position,"612,930",ANZSIC06 divisions A-S (excluding classes K633...
18,2019,Level 1,99999,All industries,Dollars (millions),H26,Fixed tangible assets,Financial position,"535,710",ANZSIC06 divisions A-S (excluding classes K633...
19,2019,Level 1,99999,All industries,Dollars (millions),H29,Other assets,Financial position,"1,067,488",ANZSIC06 divisions A-S (excluding classes K633...

In [46]:
survey_df[32440:32445]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32444,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [47]:
survey_df[32440:32446]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32444,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [48]:
survey_df[32440:32444]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [49]:
#survey_df[start:stop:stepby]
survey_df[32400:32444:5]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
32400,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Dollars (millions),H32,Current liabilities,Financial position,797,ANZSIC06 group S955
32405,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Percentage,H37,Quick ratio,Financial ratios,314,ANZSIC06 group S955
32410,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H02,Sales of goods not further processed,Financial performance,2808,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32415,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H08,Total expenditure,Financial performance,35502,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32420,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H13,Redundancy and severance,Financial performance,8,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32425,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H22,Closing stocks,Financial performance,4041,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32430,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H27,Additions to fixed assets,Financial position,1339,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32435,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H32,Current liabilities,Financial position,10212,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [52]:
survey_df[-6:-1]
#reverse indexing

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
32439,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H36,Current ratio,Financial ratios,91,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [53]:
survey_df[-5::]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32444,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [54]:
survey_df[-6:32445]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
32439,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H36,Current ratio,Financial ratios,91,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32444,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

# LOC AND ILOC FUNCTIONS.

In [ ]:
#Loc and Iloc allows us to work with the slicing of rows and columns together.

## ILOC

In [57]:
# iloc==>columns can only be considered as indices
# for iloc we cannot refer to columns by their string names
# (start:stop:stepby, start:stop:stepby)
# (Row,Column)

In [58]:
#survey_df.iloc[row,column]
survey_df.iloc[32400:32445:5,4:10:1]

,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
32400,Dollars (millions),H32,Current liabilities,Financial position,797,ANZSIC06 group S955
32405,Percentage,H37,Quick ratio,Financial ratios,314,ANZSIC06 group S955
32410,Dollars (millions),H02,Sales of goods not further processed,Financial performance,2808,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32415,Dollars (millions),H08,Total expenditure,Financial performance,35502,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32420,Dollars (millions),H13,Redundancy and severance,Financial performance,8,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32425,Dollars (millions),H22,Closing stocks,Financial performance,4041,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32430,Dollars (millions),H27,Additions to fixed assets,Financial position,1339,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32435,Dollars (millions),H32,Current liabilities,Financial position,10212,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32440,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [60]:
survey_df.columns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [61]:
survey_df.iloc[32400:32445:5,4::]

,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
32400,Dollars (millions),H32,Current liabilities,Financial position,797,ANZSIC06 group S955
32405,Percentage,H37,Quick ratio,Financial ratios,314,ANZSIC06 group S955
32410,Dollars (millions),H02,Sales of goods not further processed,Financial performance,2808,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32415,Dollars (millions),H08,Total expenditure,Financial performance,35502,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32420,Dollars (millions),H13,Redundancy and severance,Financial performance,8,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32425,Dollars (millions),H22,Closing stocks,Financial performance,4041,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32430,Dollars (millions),H27,Additions to fixed assets,Financial position,1339,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32435,Dollars (millions),H32,Current liabilities,Financial position,10212,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32440,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [62]:
survey_df.iloc[32400:32445:5,:]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
32400,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Dollars (millions),H32,Current liabilities,Financial position,797,ANZSIC06 group S955
32405,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Percentage,H37,Quick ratio,Financial ratios,314,ANZSIC06 group S955
32410,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H02,Sales of goods not further processed,Financial performance,2808,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32415,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H08,Total expenditure,Financial performance,35502,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32420,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H13,Redundancy and severance,Financial performance,8,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32425,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H22,Closing stocks,Financial performance,4041,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32430,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H27,Additions to fixed assets,Financial position,1339,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32435,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H32,Current liabilities,Financial position,10212,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

## LOC function.

In [63]:
#survey_df.loc[row,column]
survey_df.loc[32400:32445:5, "Year"::]
# loc works with string column names

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
32400,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Dollars (millions),H32,Current liabilities,Financial position,797,ANZSIC06 group S955
32405,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Percentage,H37,Quick ratio,Financial ratios,314,ANZSIC06 group S955
32410,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H02,Sales of goods not further processed,Financial performance,2808,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32415,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H08,Total expenditure,Financial performance,35502,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32420,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H13,Redundancy and severance,Financial performance,8,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32425,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H22,Closing stocks,Financial performance,4041,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32430,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H27,Additions to fixed assets,Financial position,1339,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32435,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H32,Current liabilities,Financial position,10212,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [64]:
survey_df.loc[32400:32445:5,["Year","Value"]]

       Year  Value
32400  2013    797
32405  2013    314
32410  2013   2808
32415  2013  35502
32420  2013      8
32425  2013   4041
32430  2013   1339
32435  2013  10212
32440  2013     52

In [65]:
survey_df.loc[::,"Year":"Variable_name":2]

,Year,Industry_code_NZSIOC,Units,Variable_name
0,2019,99999,Dollars (millions),Total income
1,2019,99999,Dollars (millions),"Sales, government funding, grants and subsidies"
2,2019,99999,Dollars (millions),"Interest, dividends and donations"
3,2019,99999,Dollars (millions),Non-operating income
4,2019,99999,Dollars (millions),Total expenditure
...,...,...,...,...
32440,2013,ZZ11,Percentage,Quick ratio
32441,2013,ZZ11,Percentage,Margin on sales of goods for resale
32442,2013,ZZ11,Percentage,Return on equity
32443,2013,ZZ11,Percentage,Return on total assets
32444,2013,ZZ11,Percentage,Liabilities structure

In [66]:
survey_df.loc[::,"Year":"Variable_name":2].sample(12)

,Year,Industry_code_NZSIOC,Units,Variable_name
8956,2018,RS,Dollars (millions),Purchases and other operating expenses
1716,2019,DD11,Dollars (millions),Indirect taxes
27739,2014,RS212,Percentage,Return on equity
30629,2013,II111,Percentage,Return on equity
4264,2019,QQ112,Dollars (millions),Closing stocks
7396,2018,II11,Dollars (millions),Total expenditure
11706,2017,GH131,Dollars (millions),Sales of goods not further processed
23085,2015,RS212,Dollars (millions),Purchases and other operating expenses
8511,2018,MN211,Dollars,Surplus per employee count
9900,2017,CC211,Dollars,Total income per employee count
4238,2019,QQ111,Dollars (millions),Fixed tangible assets
14036,2016,AA12,Dollars (millions),Redundancy and severance

# Subsetting Data Using some Criteria.

In [67]:
#showing our table only where the year is 2018
survey_df[survey_df.Year==2018]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
4635,2018,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"691,554",ANZSIC06 divisions A-S (excluding classes K633...
4636,2018,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"605,276",ANZSIC06 divisions A-S (excluding classes K633...
4637,2018,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"63,881",ANZSIC06 divisions A-S (excluding classes K633...
4638,2018,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"22,397",ANZSIC06 divisions A-S (excluding classes K633...
4639,2018,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"597,492",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
9265,2018,Level 3,ZZ11,Food Product Manufacturing,Percentage,H37,Quick ratio,Financial ratios,83,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
9266,2018,Level 3,ZZ11,Food Product Manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,30,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
9267,2018,Level 3,ZZ11,Food Product Manufacturing,Percentage,H39,Return on equity,Financial ratios,15,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
9268,2018,Level 3,ZZ11,Food Product Manufacturing,Percentage,H40,Return on total assets,Financial ratios,7,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
9269,2018,Level 3,ZZ11,Food Product Manufacturing,Percentage,H41,Liabilities structure,Financial ratios,50,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [68]:
survey_df[survey_df.Year==2018].sample(12)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
5257,2018,Level 4,CC211,Textile and Leather Manufacturing,Dollars (millions),H26,Fixed tangible assets,Financial position,285,"ANZSIC06 groups C131, C132, and C133"
4645,2018,Level 1,99999,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"1,659",ANZSIC06 divisions A-S (excluding classes K633...
8516,2018,Level 4,MN211,Travel Agency and Tour Arrangement Services,Percentage,H41,Liabilities structure,Financial ratios,28,ANZSIC06 group N722
7700,2018,Level 3,JJ12,"Telecommunications, Internet and Library Services",Dollars (millions),H20,Non-operating expenses,Financial performance,87,"ANZSIC06 groups J580, J591, J592, J601, and J602"
5816,2018,Level 3,CC61,Non-Metallic Mineral Product Manufacturing,Dollars (millions),H11,Depreciation,Financial performance,125,"ANZSIC06 groups C201, C202, C203, and C209"
7660,2018,Level 3,JJ11,Information Media Services,Dollars (millions),H08,Total expenditure,Financial performance,"5,202","ANZSIC06 groups J541, J542, J551, J552, J561, ..."
8577,2018,Level 4,MN213,"Building Cleaning, Pest Control and Other Supp...",Dollars,H35,Surplus per employee count,Financial ratios,"7,900",ANZSIC06 groups N731 and N732
5726,2018,Level 4,CC523,"Pharmaceutical, Cleaning and Other Chemical Ma...",Dollars (millions),H33,Other liabilities,Financial position,291,"ANZSIC06 groups C184, C185, and C189"
9148,2018,Level 4,RS211,Repair and Maintenance,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"3,533","ANZSIC06 groups S941, S942, and S949"
6526,2018,Level 4,EE113,Non-Residential Building Construction,Dollars (millions),H25,Current assets,Financial position,"2,897",ANZSIC06 group E302
8218,2018,Level 4,LL123,Real Estate Services,Percentage,H40,Return on total assets,Financial ratios,25,ANZSIC06 group L672
5862,2018,Level 4,CC611,Non-Metallic Mineral Product Manufacturing,Dollars (millions),H25,Current assets,Financial position,"1,172","ANZSIC06 groups C201, C202, C203, and C209"

In [69]:
#showing our table only where the value column is C
survey_df[survey_df.Value=='C']

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
427,2019,Level 1,BB,Mining,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,C,ANZSIC06 division B
429,2019,Level 1,BB,Mining,Dollars (millions),H07,Non-operating income,Financial performance,C,ANZSIC06 division B
685,2019,Level 3,CC31,Wood Product Manufacturing,Dollars (millions),H13,Redundancy and severance,Financial performance,C,ANZSIC06 groups C141 and C149
721,2019,Level 4,CC311,Wood Product Manufacturing,Dollars (millions),H13,Redundancy and severance,Financial performance,C,ANZSIC06 groups C141 and C149
747,2019,Level 3,CC32,"Pulp, Paper and Converted Paper Product Manufa...",Dollars (millions),H02,Sales of goods not further processed,Financial performance,C,ANZSIC06 groups C151 and C152
...,...,...,...,...,...,...,...,...,...,...
32260,2013,Level 4,RS113,Gambling Activities,Dollars (millions),H20,Non-operating expenses,Financial performance,C,ANZSIC06 group R920
32290,2013,Level 3,RS21,Other Services,Dollars (millions),H13,Redundancy and severance,Financial performance,C,"ANZSIC06 division S (excluding classes S9540, ..."
32386,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Dollars (millions),H13,Redundancy and severance,Financial performance,C,ANZSIC06 group S955
32412,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,C,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32413,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H06,"Government funding, grants and subsidies",Financial performance,C,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [70]:
#showing our table only where the value column is C
survey_df[survey_df.Value=='C'].describe()

              Year
count  1593.000000
mean   2015.877589
std       1.966288
min    2013.000000
25%    2014.000000
50%    2016.000000
75%    2018.000000
max    2019.000000

In [71]:
#showing our table only where the years fall between 2015 and 2020
survey_df[(survey_df.Year>2015)&(survey_df.Year<2020)]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
18535,2016,Level 3,ZZ11,Food Product Manufacturing,Percentage,H37,Quick ratio,Financial ratios,85,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
18536,2016,Level 3,ZZ11,Food Product Manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,23,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
18537,2016,Level 3,ZZ11,Food Product Manufacturing,Percentage,H39,Return on equity,Financial ratios,16,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
18538,2016,Level 3,ZZ11,Food Product Manufacturing,Percentage,H40,Return on total assets,Financial ratios,8,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
18539,2016,Level 3,ZZ11,Food Product Manufacturing,Percentage,H41,Liabilities structure,Financial ratios,51,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [72]:
#showing our table only where the years fall between 2015 and 2020
survey_df[(survey_df.Year>2015)&(survey_df.Year<2020)].sample(7)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
12228,2017,Level 4,II133,Warehousing and Storage Services,Dollars (millions),H07,Non-operating income,Financial performance,C,ANZSIC06 group I530
5862,2018,Level 4,CC611,Non-Metallic Mineral Product Manufacturing,Dollars (millions),H25,Current assets,Financial position,"1,172","ANZSIC06 groups C201, C202, C203, and C209"
16748,2016,Level 3,II12,"Rail, Water, Air and Other Transport",Dollars (millions),H29,Other assets,Financial position,C,"ANZSIC06 groups I471, I472, I481, I482, I490, ..."
16911,2016,Level 1,JJ,Information Media and Telecommunications,Dollars (millions),H27,Additions to fixed assets,Financial position,"1,744",ANZSIC06 division J
15025,2016,Level 3,CC53,Polymer Product and Rubber Product Manufacturing,Dollars (millions),H26,Fixed tangible assets,Financial position,750,ANZSIC06 groups C191 and C192
11636,2017,Level 3,GH12,"Supermarket, Grocery Stores and Specialised Fo...",Dollars (millions),H05,"Interest, dividends and donations",Financial performance,47,ANZSIC06 groups G411 and G412
17437,2016,Level 4,LL122,Non-Residential Property Operation,Dollars (millions),H22,Closing stocks,Financial performance,"2,639",ANZSIC06 class L671200